li {
    display: inline;
}

header {
    position: fixed;
    top: 0px;
    background-color: beige;
}

nav {
    position: relative;
    left: 100px;
    top: 10px;
}

footer {
    width: 100vw;
    bottom: 0;
    height: 40px;
    background-color: beige;
    position: fixed;
}

main {
    padding-top: 100px;
    padding-bottom: 80px;
}

#copyright {
    bottom: 35px;
    position: absolute;
    right: 35px;
}

#logo {
    height: 300px;
    border-radius: 30px;
}

#account {
    grid-column: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100px;
    width: 100px;
    background-color: aquamarine;
}

#login {
    position: relative;
    top: 40px;
    right: 80px;
}

ul {
    display:flex;
    justify-content: space-around;
    width: 100%;
}

/* @media (max-width: 1200px) */

